<html>
    <head>
        {% if title %}
        <title> {{ title }} - web page</title>
        {% else %}
        <title>Module Not Found</title>
        {% endif %}
    </head>
    <body>
        <div> Module_Not_Found : 
            <a href="{{url_for('index')}}">Home</a>
            <a href = "{{url_for('login_fun')}}">Sign In</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for i in messages %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>